/* General page styling */
body {
  font-family: Arial, sans-serif;
  margin-top: 30px;
  padding:10px;
  background: #e079c6;
}

/* Header */
header {
  background: #8438ff;
  color: rgb(14, 13, 13);
  text-align: center;
  padding: 20px 0;
}

/* Gallery grid */
.gallery-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  border-radius: 10px;
  background-color:rgb(111, 188, 208) ;
  padding: 8px;
  margin: auto;
  max-width:900px;
}

/* Individual photo box */
.gallery-grid{
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.gallery-grid  img:hover {
  transform: scale(1.1);
  border-radius: 5px;
}

/* Footer */
footer {
  text-align: center;
  background: #f40911;
  color: white;
  padding: 10px 0;
  margin-top:100px;
}
